<h1>Listing artifacts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artifacts.each do |artifact| %>
  <tr>
    <td><%= artifact.title %></td>
    <td><%= artifact.content %></td>
    <td><%= link_to 'Show', artifact %></td>
    <td><%= link_to 'Edit', edit_artifact_path(artifact) %></td>
    <td><%= link_to 'Destroy', artifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artifact', new_artifact_path %>
